@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

/*#back-image{
  background: url(background.jpg);
  border: 1px solid black;
  background-repeat: no-repeat;
  padding: 50px;
}
*/

body{
  background-image: url(background.jpg);
}

h1{
    font-weight:bold;
    font-size: xx-large;
    font-style: oblique;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.food-table{
    border: 1px solid lightblue;
  }

  th {
    background-color: rgb(148, 129, 231);
    color: white;
  }

  table, th, td {
    border: 1px solid black;
    color: rgb(241, 9, 9);
    font-weight: bold;
    font-size: x-large;
  }

  