@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

html, body {
  margin: 0;
  height: 100%;
}

body{
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1{
    font-weight:bold;
    font-size: xx-large;
    font-style: oblique;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2{ 
    font-weight:bold;
    font-size: x-large;
    font-style: oblique;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*
  table, th, td {
    border: 1px solid black;
    color: rgb(241, 9, 9);
    font-weight: bold;
    font-size: x-large;
  }
*/
  